@import '../styles/variables.scss';

.header {
  height: 3em;
  background: $primary;

  &--content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
}
